{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}
    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(/images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">Tutoriels</h2>
            </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light">
            <div class="container">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="index.html">Accueil</a></li>
                    <li class="active">Tutoriels</li>
                </ul>
            </div>
        </div>
    </section>

        <!-- Blog post-->
        <section class="section section-lg bg-white">
            <div class="container">
                <article class="blog-layout">
                    <div class="blog-layout__main">
                        <article class="post-single">
                            <div class="post-single__header">
                                <ul class="post-single__meta">
                                    <li><span class="icon mdi mdi-comment-outline"></span><a href="#">{{ article.commentaires|length }}</a></li>
                                    <li><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">12</a></li>
                                </ul>
                                <ul class="post-single__meta">
                                    <li><span class="icon mdi icon mdi mdi-account"></span><span>par</span><a href="#">{{ article.users.pseudo }}</a></li>
                                </ul>
                            </div>
                            <div class="post-single__time-wrap">
                                {% set mois = article.updatedAt|date("F") %}
                                {% set jour = article.updatedAt|date("d") %}
                                {% set annee = article.updatedAt|date("Y") %}
                                <time class="post-single__time" datetime="{{annee}}"><span class="post-single__time-day">{{jour}}</span><span class="post-single__time-month">{{mois|trans}}</span></time>
                            </div>
                            <h4 class="post-single__title">{{ article.titre }}</h4>
                            {{ article.contenu|raw }}
                            <div class="post-single__footer">
                                <div class="post-single__footer-inner">
                                    <h5>Partager cette publication</h5>
                                    <ul class="list-inline list-inline-xs">
                                        <li><a class="icon icon-xs icon-gray-dark fa fa-facebook" href="#"></a></li>
                                        <li><a class="icon icon-xs icon-gray-dark fa fa-twitter" href="#"></a></li>
                                        <li><a class="icon icon-xs icon-gray-dark fa fa-google-plus" href="#"></a></li>
                                        <li><a class="icon icon-xs icon-gray-dark fa fa-pinterest-p" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <div class="section-md section-collapse">
                            <p class="custom-heading-line heading-8">Articles récents</p>
                            <div class="row row-50">
                                {% for articleRecent in articlesRecents %}
                                    <div class="col-md-6">
                                        <!-- Post Minimal-->
                                        <article class="post-minimal"><a class="post-minimal__media" href="{{ path('tutoriels_article', {'slug': articleRecent.slug}) }}"><img class="post-minimal__image" src="{{articleRecent.featuredImage}}" alt="" width="368" height="293"/></a>
                                            <h4 class="post-minimal__title"><a href="{{ path('tutoriels_article', {'slug': articleRecent.slug}) }}">{{articleRecent.titre}}</a></h4>
                                            <ul class="post-minimal__meta">
                                                <li><span class="icon mdi mdi-comment-outline"></span><a href="{{ path('tutoriels_article', {'slug': articleRecent.slug}) }}">{{ articleRecent.commentaires|length }}</a></li>
                                                <li><span class="icon mdi mdi-thumb-up-outline"></span><a href="#">12</a></li>
                                                <li><span class="icon mdi mdi-account"></span><span>par</span><a href="{{ path('tutoriels_article', {'slug': articleRecent.slug}) }}">{{ articleRecent.users.pseudo }}</a></li>
                                            </ul>
                                        </article>
                                    </div>    
                                {% endfor %}
                                
                        </div>
                    </div>
                    <div class="section-md section-collapse">
                            <p class="custom-heading-line heading-8">Commentaires</p>
                            {% for commentaire in article.commentaires %}
                                                        <div class="comment-group">
                                <!-- Comment-->
                                <article class="comment">
                                    <div class="comment__figure"><img class="comment__image" src="/images/user-1-82x82.jpg" alt="" width="82" height="82"/>
                                    </div>
                                    <div class="comment__main">
                                        <div class="comment__header">
                                            <h5 class="comment__title">Samantha</h5><span class="comment__time">3 days ago</span>
                                        </div>
                                        <div class="comment__text">
                                            <p>Porta non pulvinar neque laoreet suspendisse interdum consectetur. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi. Massa eget egestas purus viverra accumsan in nisl. Egestas sed tempus urna et pharetra. Tempus egestas sed sed risus pretium quam vulputate.</p>
                                        </div>
                                        <div class="comment__footer">
                                            <ul class="comment__list">
                                                <li> <a class="comment__link" href="#"> <span class="icon mdi mdi-thumb-up-outline"> </span><span>12</span></a></li>
                                                <li><a class="comment__link" href="#"><span class="icon mdi mdi-comment-outline"></span><span>Reply</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </article>
                                <div class="comment-group">
                                    <!-- Comment-->
                                    <article class="comment">
                                        <div class="comment__figure"><img class="comment__image" src="/images/user-2-82x82.jpg" alt="" width="82" height="82"/>
                                        </div>
                                        <div class="comment__main">
                                            <div class="comment__header">
                                                <h5 class="comment__title">Edward</h5><span class="comment__time">1 day ago</span>
                                            </div>
                                            <div class="comment__text">
                                                <p>Lorem mollis aliquam ut porttitor. Placerat in egestas erat imperdiet sed euismod nisi porta. Sit amet luctus venenatis lectus magna.</p>
                                            </div>
                                            <div class="comment__footer">
                                                <ul class="comment__list">
                                                    <li> <a class="comment__link" href="#"> <span class="icon mdi mdi-thumb-up-outline"> </span><span>53</span></a></li>
                                                    <li><a class="comment__link" href="#"><span class="icon mdi mdi-comment-outline"></span><span>Reply</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
    
                            {% endfor %}
                            <div class="comment-box">
                                <div class="unit flex-md-row flex-column">
                                    <div class="unit__left"><img class="comment-box__image" src="/images/user-4-82x82.jpg" alt="" width="82" height="82"/>
                                    </div>
                                    <div class="unit__body">
                                        <p class="heading-8">Linda</p>
                                        <form class="rd-mailform form_outline">
                                            <div class="form-wrap">
                                                <label class="form-label" for="comment-message">Write Your Comment...</label>
                                                <textarea class="form-input" id="comment-message" name="message" data-constraints="@Required"></textarea>
                                            </div>
                                            <div class="form-button">
                                                <button class="button button-lg button-primary button-ujarak" type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-layout__aside">
                        {% include "partials/blog/recherche.html.twig" %}
                        {% include "partials/blog/categories.html.twig" %}
                        {% include "partials/blog/dernieres_publi.html.twig" %}
                        {% include "partials/blog/pub.html.twig" %}
                    </div>
                </article>
            </div>
        </section>


{% endblock %}