{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    <!-- Breadcrumbs-->
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">Inscription</h2>
            </div>
        </div>
        <div class="breadcrumbs-custom__main bg-gray-light">
            <div class="container">
                <ul class="breadcrumbs-custom__path">
                    <li><a href="index.html">Accueil</a></li>
                    <li class="active">Inscription</li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Login Form-->
    <section class="section section-md bg-white text-center">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="group-sm group-sm-justify group-middle">
                        <a class="button button-facebook button-icon button-icon-left" href="{{ path('connect_facebook_start') }}"><span class="icon fa fa-facebook"></span>Facebook</a>
                        <a class="button button-google button-icon button-icon-left" href="{{ path('connect_google_start') }}"><span class="icon fa fa-google-plus"></span>Google+</a>
                    </div>
                    <div class="text-decoration-lines"><span class="text-decoration-lines__content">Ou</span></div>
                    <!-- RD Mailform-->
                    {{ form_start(registrationForm, { 'attr': {'class': 'rd-mailform rd-mailform_label-centered', 'data-form-output': 'form-output-global'} }) }}
                        <div class="form-wrap">
                            {{ form_label(registrationForm.email, 'E-mail', {'label_attr': {'class': 'form-label-outside'} }) }}
                            <div class="form-errors pb-1">
                                {{ form_errors(registrationForm.email) }}
                            </div>
                            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-input', 'data-constraints': '@Email @Required'} }) }}
                        </div>
                        <div class="form-wrap">
                            {{ form_label(registrationForm.plainPassword.first, 'Mot de passe', {'label_attr': {'class': 'form-label-outside'} }) }}
                            <div class="form-errors pb-1">
                                {{ form_errors(registrationForm.plainPassword.first) }}
                            </div>
                            {{ form_widget(registrationForm.plainPassword.first, { 'attr': {'class': 'form-input', 'data-constraints': '@Required'} }) }}
                        </div>
                        <div class="form-wrap">
                            {{ form_label(registrationForm.plainPassword.second, 'Confirmation', {'label_attr': {'class': 'form-label-outside'} }) }}
                            <div class="form-errors pb-1">
                                {{ form_errors(registrationForm.plainPassword.second) }}
                            </div>
                            {{ form_widget(registrationForm.plainPassword.second, { 'attr': {'class': 'form-input', 'data-constraints': '@Required'} }) }}
                        </div>
                        <div class="form-wrap">
                            <label class="checkbox-inline">
                                <div class="form-errors">
                                    {{ form_errors(registrationForm.agreeTerms) }}
                                </div>
                                
                                {{ form_widget(registrationForm.agreeTerms) }}
                                {{ form_label(registrationForm.agreeTerms, 'J\'accepte les conditions générales') }}
                            </label>
                        </div>
                        <div class="row row-20 form-wrap">
                            <div class="col-12">
                                <button class="button button-primary button-block button-ujarak" type="submit">Créer mon compte</button>
                            </div>
                        </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>







    <!--

    <h1>Register</h1>

        
        

        <button type="submit" class="btn">Register</button>
    

    -->
{% endblock %}
